@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}


body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  font-family: 'Montserrat', sans-serif;
}


.d-f {
  display: flex;
}



.content {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 1em;

  ul {
    display: flex;
    list-style: none;

    li {
      margin: 1em;

      a {
        text-decoration: none;
        font-weight: 400;
        color: #838383;
      }
    }
  }
}

.logo {
  max-width: 200px;
}

.input-container {
  border: 1px solid #B2B2B2;
  border-radius: 20px;
  padding: 5px;
  width: 100%;
  max-width: 260px;

  input {
    font-size: 16px;
    padding: 5px 10px;
    width: 100%;
    border: 0px;
    font-family: 'Montserrat', sans-serif;

    &:focus {
      outline: none;
    }
  }
}

.content--hero {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 600px;

  .hero-info {
    z-index: 200;
    max-width: 530px;
  }

  h1 {
    font-size: 50px;
    margin: 0;
    letter-spacing: -1px;
    line-height: 1;
  }

  img {
    max-width: 600px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
  }
}

.btn {
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 0.5em;
  display: inline-block;
}

.btn--primary {
  background-color: #5ED6A0;
}

.btn--sec {
  color: #5ED6A0;
  border: 1px solid #5ED6A0;
  font-size: 12px;
  padding: 5px 10px;
}

.tagline {
  font-size: 24px;
  color: #838383;
  margin: 0.5em 0 0.5em 0;
}

.content--posts {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 50px;
}

footer {
  background-color: #1761FF;
  color: #fff;
  padding: 3em 0;

  ul {
    list-style: none;

    li {
      margin: 1em 0;
      font-size: 14px;
    }

    a {
      color: #fff;
      text-decoration: none;
      margin: 1em 0;
    }
  }
}

.footer-logo {
  max-width: 40px;
}

.content--grid_4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

.post-image-top {
  border-radius: 5px;
}

.single-post-header {
  margin: 2em 0 2em 0;
}

.single-post-title {
  font-size: 2em;
}

.section--recent {
  background-color: #F1F6F8;
}

section {
  padding: 4em 0;
}

.tags {
  list-style: none;
  display: flex;

  li {
    margin: 10px 10px 0px 0px;

    a {
      color: #fff;
      text-decoration: none;
      background-color: #5ED6A0;
      border-radius: 5px;
      padding: 0.2em 0.5em;
      font-size: 14px;
    }
  }
}

.post-title {
  font-size: 20px;
  margin-top: 20px;

  a {
    text-decoration: none;
    color: #000;
  }
}

.section-header {
  margin: 1em 0;
  font-size: 2em;
}

article {
  margin: 2em 0;
  padding: 3em;
  line-height: 1.7;

  ul,
  ol {
    margin: 2em;

    li {
      margin: 10px 0;
    }
  }

  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  h3 {
    border-bottom: 1px solid #c9c9c9;
    padding: 1em 0;
    margin: 40px 0 20px 0;
  }
}